@{
    ViewBag.Title = "Movie";
}
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

    </style>
</head>
<body>
    <h2>Movies</h2>
    <table>
        <tr>
            <th>Movie Name</th>  
        </tr>
        <tr>
            <td>Lion King</td>
        </tr>
        <tr>
            <td>Alladin</td>
        </tr>
        
    </table>
</body>